body {
    margin: 0;
    background: #ccddea;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    width: 100%;
    max-width: 950px;  
    height: 80vh;
    background: #f9fbfb;
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.18);
    border: 1px solid #dcdcdc;
}

.chat-header {
    background: #265262;
    color: white;
    padding: 18px;
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 19px;
    font-weight: bold;
}

.back-btn {
    background: transparent;
    border: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
}

.messages {
    flex: 1;
    overflow-y: auto;
    padding: 25px;
    background: #eef3f6;
}

.msg {
    max-width: 78%;
    padding: 14px 17px;
    margin-bottom: 18px;
    border-radius: 14px;
    font-size: 16px;
    line-height: 1.8;
    animation: fadeIn 0.25s ease-in-out;
}

.me {
    background: #265262;
    color: white;
    margin-left: auto;
    border-bottom-right-radius: 4px;
}

.other {
    background: #ffffff;
    color: #333;
    margin-right: auto;
    border-bottom-left-radius: 4px;
    border: 1px solid #ddd;
}

.chat-input {
    display: flex;
    padding: 16px;
    background: #fff;
    border-top: 1px solid #ddd;
    gap: 10px;
}

.chat-input input {
    flex: 1;
    padding: 13px 16px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 12px;
    outline: none;
}

.chat-input button {
    background: #265262;
    color: white;
    padding: 12px 18px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

@keyframes fadeIn {
    from {opacity: 0; transform: translateY(10px);}
    to   {opacity: 1; transform: translateY(0);}
}
