body {
  background: #ccddea;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 340px;
  margin: 50px auto;
  background-color: #f9fbfb;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  color: #265262; 
  margin-bottom: 20px;
}

h2 {
  font-size: 16px;
  color: #265262;
  margin-top: 20px;
}

label {
  display: block;
  color: #020003;
  font-weight: 500;
  margin-top: 10px;
}

input[type="text"],
input[type="password"],
input[type="file"],
input[type="tel"] {
  width: 100%;
  padding: 7px;
  border: 1px solid #487788;
  border-radius: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

input:focus {
  border-color: #265262;
  outline: none;
}

button {
  width: 100%;
  background-color: #487788;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  transition: background 0.2s ease-in-out;
}

button:hover {
  background-color: #265262;
}

.row {
  display: flex;
  gap: 10px;
}

.field {
  flex: 1;
}

.gender-row {
  display: flex;
  align-items: center; 
  gap: 8px; 
  margin-top: 10px;
}

.gender-row label {
  display: flex;
  align-items: center;
  gap: 3px;
  margin: 0;
}

.gender-row p {
  margin: 0;
  font-weight: 500;
  color: #020003;
  transform: translateY(1px); 
}


.driver-section {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease, padding 0.3s ease;
  padding: 0 10px; 
}

.driver-section.show {
  max-height: 300px; 
  padding: 10px; 
}

.emergency-section {
  background-color: #dcf1f9;
  border: 1px solid #487788;
  border-radius: 10px;
  padding: 10px;
  margin-top: 15px;
}

